<% if GAME.player1 && GAME.player2 %>

	<a href="/player1_ships">click to start game</a>

<% else %>

	<meta http-equiv="refresh" content="5">

	Please wait for another player to register.

<% end %>


